/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.banner {
	position: absolute;
	width: 100vw;
	height: 59px;
	top: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11.5px;
	z-index: 0;
}

.banner i {
	color: white;
	font-size: 16px;
}

.banner p {
	color: white;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav ul a {
	text-decoration: none;
	color: inherit;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 139px 0;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
	position: relative;
}

.modifyBtn {
	width: 5rem;
	display: flex;
	align-items: flex-end;
	position: absolute;
	gap: 10.5px;
	right: 357px;
	top: 7px;
	cursor: pointer;
}

.modifyBtn i {
	font-size: 16px;
	color: black;
}

.modifyBtn p {
	font-size: 14px;
	font-family: 'Work Sans';
	font-weight: 400;
	color: black;
}


/****** ajout de style pour les boutons de filtre ******/
.categories {
	text-align: center;
	margin-bottom: 50px;
}

.categories .filter-btn {
	min-width: 100px;
	height: 37px;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	margin-left: 10px;
	border-radius: 60px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: white;
	cursor: pointer;
}

.categories .btn-selected {
	color: white;
	background-color: #1D6154;
}

/********************************************************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.active {
	display: flex !important;
}

.popupBackground {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	justify-content: center;
	align-items: center;

}

.popup {
	position: relative;
	background-color: white;
	border-radius: 10px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 105px;
	padding-right: 105px;
}

.popup .closeBtn {
	position: absolute;
	top: 26px;
	right: 30px;
	font-size: 24px;
	cursor: pointer;
}

#addImgForm .previousBtn {
	position: absolute;
	top: 26px;
	left: 30px;
	font-size: 24px;
	cursor: pointer;
}

.popup h2 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color: black;
	margin-top: 60px;
	margin-bottom: 46px;
}

.imgListContainer {
	text-align: center;
	border-bottom: 1px solid #B3B3B3;
}

.popupImgList {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 9px;
	row-gap: 29px;
	padding-bottom: 67px;
}

.workImg {
	width: 76.86px;
	height: 102.57px;
	position: relative;
}

.workImg img {
	width: 100%;
	height: 100%;
}

.deleteBtn {
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: black;
	right: 5px;
	top: 6px;
	border-radius: 15%;
}

.deleteBtn i {
	color: white;
	font-size: 9px;
	text-align: center;
	cursor: pointer;
}

#addImgForm {
	border-bottom: 1px solid #B3B3B3;
	display: none;
	flex-direction: column;
	width: 420px;
}

.fileUploadContainer {
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 169px;
	margin-bottom: 30px;
}

label[for="fileUpload"] {
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 10px 33px;
	cursor: pointer;
	margin-bottom: 7px;
}

#fileUpload {
	display: none;
}

.fileUploadContainer img {
	width: 76px;
	height: 76px;
	margin-top: 13px;
	margin-bottom: 6px;
}

.fileUploadContainer p {
	font-family: inherit;
	font-size: 10px;
	font-weight: 400;
}

label[for="uploadTitle"],
label[for="categorieSelect"] {
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
}

#uploadTitle {
	margin-bottom: 21px;
}

#categorieSelect {
	margin-bottom: 47px;
	padding-right: 22px;
	background: url("data:image/svg+xml;utf8,<svg fill='none' stroke='%231D6154' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M6 9l6 6 6-6'/></svg>") no-repeat right 1em center/1.5em;
	appearance: none;
}

#uploadTitle,
#categorieSelect {
	border: none;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 16px;
	font-size: 14px;
	font-weight: 400;
	font-family: inherit;
}

#popupBtn {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 267px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: none;
	margin-top: 38px;
	margin-bottom: 45px;
	cursor: pointer;
}

/********* login page specific*********/

.loginPage {
	height: 737px;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm h2 {
	margin-top: 76px;
	margin-bottom: 37px;
}

.loginForm form {
	display: flex;
	flex-direction: column;
}

.loginForm form label {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 7px;
}

.loginMail,
.loginPassword {
	border: none;
	width: 379px;
	height: 51px;
	background-color: white;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
	outline: none;
	font-size: 16px;
	font-family: inherit;
	font-weight: 400;
}

.loginMail {
	margin-bottom: 52px;
}

.loginPassword {
	margin-bottom: 37px;
}

.loginForm a {
	color: black;
}

#loginBtn {
	padding: 10px 38px;
	margin-bottom: 28px;
	border: none;
	cursor: pointer;
}

#errorDisplay {
	height: 24px;
	margin-top: 50px;
}

#errorDisplay p {
	color: red;
	font-size: 16px;
	font-weight: 600;
	font-family: inherit;
}

.inputError {
	border: 1px solid red;
}